<h3>Theme</h3>

<div class="darklabel">
  <h3>White theme - single</h3>
  <div style="width:300px;">
    <ng2-ft-select [whiteTheme]="true"
                [items]="items"
                [disabled]="disabled"
                [(value)]="value"
                (removed)="removed($event)"
                (typed)="typed($event)"
                placeholder="No city selected">
    </ng2-ft-select>
  </div>
  <h3>White theme - multiple</h3>
  <div style="width:600px;">
    <ng2-ft-select [whiteTheme]="true"
                [items]="items"
                [multiple]="true"
                [disabled]="disabled"
                [(value)]="value"
                (removed)="removed($event)"
                (typed)="typed($event)"
                placeholder="No city selected">
    </ng2-ft-select>
  </div>
</div>

<label for="checkbox" class="disable-all" [class.disabled]="disabled">{{disabled ? 'Enable' : 'Disable'}}</label>
<input type="checkbox" id="checkbox" [(ngModel)]="disabled">

<div class="divider"></div>

<p> value: {{value.text}}</p>